@import '~bootstrap/scss/bootstrap.scss';

.bigCounter {
    text-align: center;
}

.bigCounter div{
    display: inline-block;
    background-color: black;
    font-size: 80px;
    border: 2px solid yellowgreen;
    height: 80px;
    padding: 10px;
    color: salmon;
    border-radius: 30px;
}
