/* @import '~bootstrap/scss/bootstrap.scss'; */

.bigCounter {
    text-align: center;
    background-color: #A83279;
}

.bigCounter div{
    display: inline-block;
    background-color: #516395;
    font-size: 80px;
    border: 2px solid #753a88;
    width: 100px;
    height: 150px;
    margin: 3px;
    margin-top: 20px;
    padding: 7px;
    color: #292E49;
    border-radius: 30px;
}
